
<body>

    <h2 style="text-align: center; color: #d4af37; margin-bottom: 40px;">Ofertas de la Semana</h2>

    <div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Promo Especial</h5>
    <p class="card-text">Por un Corte + Barba, el cliente se lleva un aceite de barba pequeño o un bálsamo con un 15% de descuento.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>


  <div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Promo Fin de Semana</h5>
    <p class="card-text">Disfruta de un corte de cabello y un afeitado con un 20% de descuento en todos nuestros servicios.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>


  <div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Promo mensual</h5>
    <p class="card-text">Terapia Capilar Anticaída o Anticaspa:
        Un masaje capilar profundo utilizando un tónico especializado y alta frecuencia para estimular el folículo.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>

  <div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

  <div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>

  <div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
</div></div>

</body>
</html>