{% load static %}
<header class="p-3 color-negro-bg">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">

            <a class="nav-link text-white fw-bold fs-5">
                 Chicha Barber Studio
            </a>

            <div class="d-flex align-items-center gap-3">

                <a href="#" class="text-white fs-5">
                    <i class="bi bi-facebook"></i>
                </a>

                <a href="#" class="text-white fs-5">
                    <i class="bi bi-instagram"></i>
                </a>

                <a href="#" class="text-white fs-5">
                    <i class="bi bi-whatsapp"></i>
                </a>

                <button class="btn btn-outline-light">Inicio de Sesióm</button>
                <button class="btn btn-warning" onclick="window.location.href='Registro.html'">Crear Cuenta</button>

            </div>
        </div>
    </div>
</header>