.back{
background-image:
linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
url('../img/Fondo.jpeg');
background-size: cover;
background-position: center;
background-attachment: fixed;
}
.color-negro-bg{
background:#030301 !important;
}

.hero-section{
min-height:90vh;
}
.info-card{
width:22rem;
background:rgba(255,255,255,0.95);
border-radius:18px;
overflow:hidden;
}

.info-header{
background:#030301;
color:white;
padding:20px;
}

.info-header p{
margin:0;
opacity:.7;
}

.info-body{
padding:25px;
}

.info-item{
display:flex;
align-items:center;
gap:12px;
margin-bottom:15px;
font-size:1rem;
}

.info-item i{
color:#c47a2c;
font-size:1.2rem;
}
.btn-warning{
background:#c47a2c;
border:none;
}

.btn-warning:hover{
background:#a8621f;
}
.about-section{
background:rgba(0,0,0,0.85);
}

.about-section p{
line-height:1.8;
color:#e6e6e6;
}
.carousel-item img{
height:450px;
object-fit:cover;
}
header a{
transition:.3s;
}
/*Aqui va estilos de la pagina de Productos*/
.color-negro-bg{
background:#111;
}

.logo{
font-weight:bold;
font-size:24px;
}

.titulo-productos{
color:#c59d5f;
font-weight:bold;
}

.card{
height:100%;
border-radius:10px;
transition:0.3s;
}

.card:hover{
transform:scale(1.05);
}

.card-body{
display:flex;
flex-direction:column;
justify-content:space-between;
}

.card-img-top{
height:200px;
object-fit:contain;
padding:15px;
background:white;
}

