{% extends "base-clientes.html" %}
{% load static %}

{% block content %}


<section class="container mt-5">

    <h2 class="text-center mb-5 titulo-productos">
        Productos de Cuidado Personal
    </h2>
    <a href="{% url "carrito" %}" class="btn btn-warning me-3">
        Carrito (<span id="contador">0</span>)
    </a>          

    <div class="row g-4">

        <div class="col-md-4"  >
            <div class="card shadow" >

                <img src="{% static 'img/Aceite.jpg' %}" class="card-img-top">

                <div class="card-body text-center">

                    <h5 class="card-title">
                        Aceite para Barba
                    </h5>

                    <p class="card-text">
                        Hidrata la barba y le da brillo natural.
                    </p>

                    <p class="precio">
                        $12.000 COP
                    </p>

                    <button class="btn btn-dark"
                        onclick="agregarCarrito('Aceite para Barba',12000)">
                        Agregar al carrito
                    </button>

                </div>

            </div>
        </div>


        <div class="col-md-4" >
            <div class="card shadow" >

                <img src="{% static 'img/Cera.jpg' %}" class="card-img-top">

                <div class="card-body text-center">

                    <h5 class="card-title">
                        Cera para Cabello
                    </h5>

                    <p class="card-text">
                        Fijación fuerte para mantener el peinado.
                    </p>

                    <p class="precio">
                        $12.000 COP
                    </p>

                    <button class="btn btn-dark"
                        onclick="agregarCarrito('Cera para Cabello',12000)">
                        Agregar al carrito
                    </button>

                </div>

            </div>
        </div>


        <div class="col-md-4" >
            <div class="card shadow " >

                <img src="{% static 'img/Shampu.jpg' %}" class="card-img-top">

                <div class="card-body text-center">

                    <h5 class="card-title">
                        Shampoo para Barba
                    </h5>

                    <p class="card-text">
                        Limpia y suaviza el vello facial.
                    </p>

                    <p class="precio">
                        $15.000 COP
                    </p>

                    <button class="btn btn-dark"
                        onclick="agregarCarrito('Shampoo para Barba',15000)">
                        Agregar al carrito
                    </button>

                </div>

            </div>
        </div>





        <div class="col-md-4">
            <div class="card shadow">

                <img src="{% static 'img/Pomada.jpg' %}" class="card-img-top">

                <div class="card-body text-center">

                    <h5 class="card-title">
                        Pomada para Cabello
                    </h5>

                    <p class="card-text">
                        Control y estilo con acabado profesional.
                    </p>

                    <p class="precio">
                        $11.000 COP
                    </p>

                    <button class="btn btn-dark"
                        onclick="agregarCarrito('Pomada para Cabello',11000)">
                        Agregar al carrito
                    </button>

                </div>

            </div>
        </div>


        <div class="col-md-4">
            <div class="card shadow">

                <img src="{% static 'img/Balsmo.jpg' %}" class="card-img-top">

                <div class="card-body text-center">

                    <h5 class="card-title">
                        Bálsamo para Barba
                    </h5>

                    <p class="card-text">
                        Nutre y ayuda a moldear la barba.
                    </p>

                    <p class="precio">
                        $13.000 COP
                    </p>

                    <button class="btn btn-dark"
                        onclick="agregarCarrito('Bálsamo para Barba',13000)">
                        Agregar al carrito
                    </button>

                </div>

            </div>
        </div>

    </div>

</section>


<script>

function agregarCarrito(nombre, precio) {

    let carrito = JSON.parse(localStorage.getItem("carrito")) || [];

    let productoExistente = carrito.find(p => p.nombre === nombre);

    if (productoExistente) {

        productoExistente.cantidad++;

    } else {

        carrito.push({
            nombre: nombre,
            precio: precio,
            cantidad: 1
        });

    }

    localStorage.setItem("carrito", JSON.stringify(carrito));

    actualizarContador();

    alert("Producto agregado al carrito");

}


function actualizarContador() {

    let carrito = JSON.parse(localStorage.getItem("carrito")) || [];

    let total = 0;

    carrito.forEach(p => {
        total += p.cantidad;
    });

    document.getElementById("contador").textContent = total;

}

actualizarContador();

</script>

{% endblock content %}